<template>
    <div class="game">
      <h2 class="game__title">{{getUsername}} try to get the high score</h2>
      <p class="game__time">Time Remaining: {{remainingTime}} </p>
      <div class="game__container">
        <div class="game__item" v-for="render in renderIndex" :key="render">
          <transition name="slide-fade">
            <mole
              @click.native="killMole(render)"
              v-if="tilesShowing[render].show"
              :pic="tilesShowing[render].imageRef"></mole>
          </transition>
        </div>
      </div>
      <p class="game__score">Score: {{getScore}}</p>
    </div>
</template>

<script>
import Mole from '../components/Mole.vue'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'Game',
  components: {
    Mole
  },
  computed: {
    ...mapGetters([
      'getUsername',
      'getDifficulty',
      'getTimer',
      'getScore',
      'getImagePossibilities'
    ])
  },
  data () {
    return {
      remainingTime: 0,
      gameArray: [],
      valueStart: 0,
      valueEnd: 0,
      tilesShowing: {
        1: { show: false, imageRef: '1' },
        2: { show: false, imageRef: '1' },
        3: { show: false, imageRef: '1' },
        4: { show: false, imageRef: '1' },
        5: { show: false, imageRef: '1' },
        6: { show: false, imageRef: '1' },
        7: { show: false, imageRef: '1' },
        8: { show: false, imageRef: '1' },
        9: { show: false, imageRef: '1' }
      },
      triggerChange: true,
      renderIndex: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    }
  },
  methods: {
    ...mapActions([
      'updateScore'
    ]),
    playGame () {
      this.remainingTime = this.getTimer
      const arrayLength = this.getTimer * this.getDifficulty
      this.gameArray = Array.from({ length: arrayLength }, () => (Math.floor(Math.random() * 9) + 1))
      this.gameLoop()
    },
    gameLoop () {
      const gameTimer = setInterval(() => {
        this.valueEnd += this.getDifficulty
        const inPlay = this.gameArray.slice(this.valueStart, this.valueEnd)
        inPlay.forEach((item) => {
          if (this.triggerChange) {
            this.tilesShowing[item].show = !this.tilesShowing[item].show
            this.tilesShowing[item].imageRef = this.getImagePossibilities[Math.floor(Math.random() * this.getImagePossibilities.length)]
          }
        })
        this.valueStart += this.getDifficulty
        this.remainingTime -= 1
        this.triggerChange = !this.triggerChange
        if (this.remainingTime <= 0) {
          clearInterval(gameTimer)
          this.$swal({
            type: 'success',
            title: 'Good Game',
            text: this.getScore + ' is your final score',
            allowOutsideClick: false
          }).then(() => {
            this.$router.replace('scores')
          })
        }
      }, 1000)
    },
    killMole (index) {
      this.updateScore()
      this.tilesShowing[index].show = false
      this.triggerChange = true
    }
  },
  mounted () {
    this.$swal({
      allowOutsideClick: false,
      imageUrl: 'https://secure.i.telegraph.co.uk/multimedia/archive/01656/mole_1656747c.jpg',
      imageWidth: 400,
      imageHeight: 200,
      title: 'Is this the game you want to play?',
      html: 'Time of round: ' + this.getTimer +
        '<br>' + 'Frequency of Moles: ' + this.getDifficulty + '<br>',
      showCancelButton: true,
      confirmButtonText: 'Yes, let\'s play!',
      cancelButtonText: 'No let\'s go back'
    }).then((result) => {
      if (result.value) {
        this.playGame()
      } else {
        this.$router.replace('home')
      }
    })
  }
}
</script>

<style lang="scss" scoped>
  .game {
    margin-top: 5%;
    width: 100%;
    color: $color-white;

    &__title {

    }

    &__time {
      font-size: 3.5vh;
      font-weight: bold;
    }

    &__score {
      margin-top: 2%;
      font-size: 3.5vh;
      font-weight: bold;
    }

    &__container {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: $primary-blue;
      padding: 10px;
    }

    &__item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      font-size: 30px;
      text-align: center;
      overflow: hidden;
      height: 23vh;
      width: 32vw;
    }
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
  }
</style>
