<template>
  <div class="home">
    <h2 class="home__head">Hello, {{getUsername}} let's setup your game!</h2>
    <select class="home__input" v-model="moleLevel">
      <option value="" disabled selected>- Select frequency of moles -</option>
      <option
        v-for="(level, index) in getLevels"
        :value="level.value"
        :key="index">
        {{level.value}}
      </option>
    </select>
    <br>
    <select class="home__input" v-model="moleTime">
      <option value="" disabled selected>- Select number of seconds round will last -</option>
      <option
        v-for="(time, index) in getTimes"
        :value="time.value"
        :key="index">
        {{time.name}}
      </option>
    </select>
    <br>
    <button
      class="home__button"
      @click="startGame">
      Begin Game
    </button>
    <button
      class="home__button"
      @click="logout">
      Logout
    </button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as firebase from 'firebase'

export default {
  name: 'home',
  data () {
    return {
      moleLevel: '',
      moleTime: ''
    }
  },
  methods: {
    ...mapActions([
      'updateDifficulty',
      'updateTimer',
      'resetGame'
    ]),
    logout: function () {
      firebase.auth().signOut().then(() => {
        this.resetGame()
        this.$router.replace('login')
      })
    },
    startGame () {
      const error = []
      if (this.moleLevel === '') {
        error.push('<p>You must select the difficulty level</p> <br>')
      }
      if (this.moleTime === '') {
        error.push('<p>You must select the time you want to play the game</p>')
      }
      if (error.length) {
        console.log('Error pops here')
        this.$swal({
          imageUrl: 'https://secure.i.telegraph.co.uk/multimedia/archive/01656/mole_1656747c.jpg',
          imageWidth: 400,
          imageHeight: 200,
          title: 'I don\'t see all your selections',
          html: error.join(' ')
        })
      } else {
        this.updateDifficulty(this.moleLevel)
        this.updateTimer(this.moleTime)
        this.$router.replace('game')
      }
    }
  },
  computed: {
    ...mapGetters([
      'getUsername',
      'getTimes',
      'getLevels'
    ])
  }
}
</script>

<style lang="scss" scoped>
  .home {
    margin-top: 20%;
    width: 40%;
    background-color: $transparent-black;

    &__head {
      margin: 20px 0 10px 0;
    }

    &__input {
      margin: 10px 0;
      width: 70%;
      padding: 15px;
      font-size: 1.2vw;
    }

    &__button {
      margin: 20px 0;
      width: 25%;
      cursor: pointer;
      background: $primary-blue;
      color: $color-white;
      height: 4vh;
      font-size: 1.2vw;
    }
  }
</style>
