<template>
  <div class="login">
    <h1 class="login__title">{{getTitle}}</h1>
    <div class="login__container">
      <h2 class="login__head">Sign In</h2>
      <input
        type="text"
        v-model="email"
        placeholder="Email"
        class="login__input"
        ref="email">
      <br>
      <input
        @keyup.enter="login"
        type="password"
        v-model="password"
        placeholder="Password"
        class="login__input">
      <br>
      <button
        @click="login"
        class="login__button">
        Log In
      </button>
      <p>You don't have an account? You can <router-link to="/sign-up">create one</router-link></p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as firebase from 'firebase'

export default {
  name: 'login',
  computed: {
    ...mapGetters([
      'getTitle'
    ])
  },
  data () {
    return {
      email: '',
      password: ''
    }
  },
  mounted () {
    this.$refs.email.focus()
  },
  methods: {
    login: function () {
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          this.$store.dispatch('updateUsername', user.user.email.split('@')[0])
          this.$router.replace('home')
        },
        (err) => {
          this.$swal({
            type: 'error',
            title: 'Oops...',
            text: err.message
          })
          this.password = ''
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>  /* "scoped" attribute limit the CSS to this component only */
.login {
  margin-top: 15%;
  width: 80%;

  &__title {
    font-size: 6em;
    margin-bottom: 10%;
  }

  &__container {
    background-color: $transparent-black;
    margin-left: 25%;
    width: 50%;

    p {
      margin-top: 40px;
      font-size: 20px;
      font-weight: bold;
    }
    p a {
      text-decoration: underline;
      cursor: pointer;
      color: $primary-blue;
    }
  }

  &__input {
    margin: 10px 0;
    width: 60%;
    padding: 15px;
    font-size: 1.2vw;
  }

  &__button {
    margin-top: 20px;
    width: 25%;
    cursor: pointer;
    background: $primary-blue;
    color: $color-white;
    height: 4vh;
    font-size: 1.2vw;
  }
}
</style>
