<template>
  <div class="scores">
    <div class="scores__container">
      <h2 class="scores__title">Top Scores</h2>
      <div class="scores__header">
        <div>Username</div>
        <div>Score</div>
        <div>Mole Frequency</div>
        <div>Round Time</div>
        <div>Points Per Second</div>
      </div>
      <template v-if="scores.length > 0">
        <score-item
          v-for="(score, index) in scores"
          :key="index"
          :name="score.user"
          :score="score.score"
          :appearance="score.moleFrequency"
          :timer="score.gameTime"
        />
      </template>
      <h3>Your All Time Best Score</h3>
      <template v-if="yourTopScore.length > 0">
        <score-item
          :name="yourTopScore[0].user"
          :score="yourTopScore[0].score"
          :appearance="yourTopScore[0].moleFrequency"
          :timer="yourTopScore[0].gameTime"
        />
      </template>
    </div>
    <button
      class="scores__button"
      @click="goToSelect">
      Go Back to Select Screen
    </button>
  </div>
</template>

<script>
import ScoreItem from '../components/ScoreItem'
import { mapActions, mapGetters } from 'vuex'
import { db } from '../main'
import 'firebase/firestore'
export default {
  name: 'Scores',
  data () {
    return {
      scores: [],
      yourTopScore: []
    }
  },
  components: {
    ScoreItem
  },
  computed: {
    ...mapGetters([
      'getUsername',
      'getDifficulty',
      'getTimer',
      'getScore'
    ])
  },
  methods: {
    ...mapActions([
      'resetScore'
    ]),
    goToSelect () {
      this.resetScore()
      this.$router.replace('home')
    }
  },
  mounted () {
    db.add({
      user: this.getUsername,
      score: this.getScore,
      gameTime: this.getTimer,
      moleFrequency: this.getDifficulty
    })
  },
  firestore () {
    return {
      scores: db
        .orderBy('score', 'desc')
        .orderBy('user')
        .limit(5),
      yourTopScore: db.where('user', '==', this.getUsername)
        .orderBy('score', 'desc')
        .limit(1)
    }
  }
}
</script>

<style lang="scss" scoped>
.scores {
  margin-top: 10%;
  width: 80%;

  &__container {
    padding: 2%;
    background-color: $transparent-black;
  }

  &__header {
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    margin: 1% 10%;
    width: 80%;

    div {
      width: 20%;
      text-align: center;
      font-size: 20px;
      line-height: 60px;
    }
  }

  &__title {
    font-size: 4.5vh;
    font-weight: bold;
  }

  &__button {
    margin: 20px 0;
    width: 25%;
    cursor: pointer;
    background: $primary-blue;
    color: $color-white;
    height: 4vh;
    font-size: 1.2vw;
  }
}
</style>
