<template>
  <div class="sign-up">
    <h1 class="sign-up__title">{{getTitle}}</h1>
    <div class="sign-up__container">
      <h2 class="sign-up__head">Let's create a new account !</h2>
      <input
        class="sign-up__input"
        type="text"
        v-model="email"
        ref="email"
        placeholder="Email"><br>
      <input
        class="sign-up__input"
        type="password"
        v-model="password"
        placeholder="Password"><br>
      <button
        class="sign-up__button"
        @click="signUp">
        Sign Up
      </button>
      <p>or go back to <router-link to="/login">login</router-link>.</p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as firebase from 'firebase'

export default {
  name: 'signUp',
  computed: {
    ...mapGetters([
      'getTitle'
    ])
  },
  data () {
    return {
      email: '',
      password: ''
    }
  },
  mounted () {
    this.$refs.email.focus()
  },
  methods: {
    signUp: function () {
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          this.$store.dispatch('updateUsername', user.user.email.split('@')[0])
          this.$router.replace('home')
        },
        (err) => {
          this.$swal({
            type: 'error',
            title: 'Oops...',
            text: err.message
          })
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  .sign-up {
    margin-top: 15%;
    width: 80%;

    &__title {
      font-size: 6em;
      margin-bottom: 10%;
    }

    &__container {
      background-color: $transparent-black;
      margin-left: 25%;
      width: 50%;

      p {
        margin-top: 40px;
        font-size: 20px;
        font-weight: bold;
      }
      p a {
        text-decoration: underline;
        cursor: pointer;
        color: $primary-blue;
      }
    }

    &__input {
      margin: 10px 0;
      width: 60%;
      padding: 15px;
      font-size: 1.2vw;
    }

    &__button {
      margin-top: 20px;
      width: 25%;
      cursor: pointer;
      background: $primary-blue;
      color: $color-white;
      height: 4vh;
      font-size: 1.2vw;
    }
  }
</style>
