<template>
  <div class="mole">
    <img
      v-if="pic === '1'"
      class="mole__picture"
      src="../assets/mole1.png">
    <img
      v-else-if="pic === '2'"
      class="mole__picture"
      src="../assets/mole2.png">
    <img
      v-else-if="pic === '3'"
      class="mole__picture"
      src="../assets/mole3.png">
    <img
      v-else-if="pic === '4'"
      class="mole__picture"
      src="../assets/mole_smart.png">
    <img
      v-else-if="pic === '5'"
      class="mole__picture"
      src="../assets/vole1.png">
    <img
      v-else-if="pic === '6'"
      class="mole__picture"
      src="../assets/vole2.png">
    <img
      v-else-if="pic === '7'"
      class="mole__picture"
      src="../assets/vole3.png">
  </div>
</template>

<script>
export default {
  name: 'Mole',
  props: {
    pic: String
  }
}
</script>

<style lang="scss" scoped>
.mole {
  width: 100%;
  height: 100%;

  &__picture {
    height: 100%;
  }
}
</style>
