<template>
  <div class="scoreItem">
    <div class="scoreItem__name">{{name}}</div>
    <div class="scoreItem__score">{{score}}</div>
    <div class="scoreItem__appearance">{{appearance}}</div>
    <div class="scoreItem__timer">{{timer}}</div>
    <div class="scoreItem__pps">{{pointsPerSecond}}</div>
  </div>
</template>

<script>
export default {
  name: 'ScoreItem',
  props: {
    name: String,
    score: Number,
    appearance: Number,
    timer: Number
  },
  computed: {
    pointsPerSecond () {
      return (this.score / this.timer).toFixed(2)
    }
  }
}
</script>

<style lang="scss" scoped>
  .scoreItem {
    background-color: $scorecard-green;
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    margin: 1% 10%;
    width: 80%;

    div {
      width: 20%;
      text-align: center;
      font-size: 30px;
      line-height: 60px;
    }

    &__name {
      font-size: 35px !important;
      font-weight: bold;
      padding-left: 5px;
    }
  }
</style>
