<template>
  <div
    :class="[ getWhack === 'mole' ? 'moles' : 'vole', 'app']">
    <router-view/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

const { ipcRenderer } = require('electron')

export default {
  beforeDestroy () {
    document.removeEventListener('keydown', this.checkCode)
  },
  computed: {
    ...mapGetters([
      'getWhack'
    ])
  },
  data () {
    return {
      konamiCode: ['ArrowUp', 'ArrowUp', 'ArrowDown', 'ArrowDown', 'ArrowLeft', 'ArrowRight', 'ArrowLeft', 'ArrowRight', 'b', 'a'],
      konamiPosition: 0
    }
  },
  methods: {
    ...mapActions([
      'changePossiblePics'
    ]),
    checkCode (e) {
      if (this.$route.name !== 'WebView') {
        if (e.key === this.konamiCode[this.konamiPosition]) {
          e.preventDefault()
          this.konamiPosition += 1
          if (this.konamiPosition === this.konamiCode.length) {
            if (this.getWhack === 'mole') {
              this.activateCheat()
            }
            this.konamiPosition = 0
          }
        } else {
          this.konamiPosition = 0
        }
      }
    },
    async activateCheat () {
      const { value: pass } = await this.$swal({
        title: 'LinkedIn Quiz',
        text: 'What city is BIS located in?',
        type: 'question',
        input: 'password',
        showCancelButton: true
      })

      if (pass) {
        ipcRenderer.send('check-pass', pass)
        ipcRenderer.once('send-response-pass', (event, store) => {
          if (store) {
            this.changePossiblePics()
            this.$swal({
              type: 'success',
              title: 'Congratulations',
              text: 'You are now playing Whack-A-Vole!'
            })
          } else {
            this.$swal({
              type: 'error',
              title: 'Incorrect Answer',
              text: 'Make sure you include the space'
            })
          }
        })
      }
    }
  },
  mounted () {
    document.addEventListener('keydown', this.checkCode)
  }
}
</script>

<style lang="scss">
  * {
    padding: 0;
    margin: 0;
  }

  .app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .moles {
    background: url(assets/backMole.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }

  .vole {
    background: url(assets/backVole.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }
</style>
